server:
  port: 9002

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///${CONFIG_REPO:${project.basedir}/../config-repo}
