.comment-form {
    max-width: 900px;
    margin: 16px 30px 16px 30px;
}

.comment-input-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.comment-input-field {
    flex-grow: 1;
}

.comment-input-field textarea {
    resize: none;
    min-height: 96px;
}

.submit-btn {
    border: none;
    background: transparent !important;
    padding: 0;
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.submit-btn img {
    width: 40px;
    height: 40px;
}

@media (max-width: 600px) {
    .comment-form {
        margin: 16px 10px 16px 10px;
    }

    .comment-input-field textarea {
        min-height: 80px;
    }
}