<form [formGroup]="form" (ngSubmit)="submit()" class="comment-form">
    <div class="comment-input-wrapper">
        <mat-form-field appearance="outline" class="comment-input-field">
            <mat-label>Écrivez ici votre commentaire</mat-label>
            <textarea matInput formControlName="content" rows="4"></textarea>
        </mat-form-field>

        <button type="submit" class="submit-btn">
            <img src="/assets/send.svg" alt="Envoyer" />
        </button>
    </div>

    <div *ngIf="error" class="server-error">
        {{ error }}
    </div>
</form>