.feed-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-options {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    background: transparent;
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
}

@media screen and (max-width: 425px) {
    .feed-header {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

}