server:
  port: 9300

spring:
  application:
    name: article-service
  config:
    import: "configserver:http://localhost:9002/"
  cloud:
    config:
      fail-fast: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
    metadata-map:
      management.port: ${management.server.port:9300}

management:
  endpoints:
    web:
      exposure:
        include: "*"