.register-container {
    width: 400px;
    margin: 40px auto;
}

.back-btn {
    align-self: flex-start;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.submit-btn {
    width: 150px;
    margin: 0 auto;
    background-color: #7b5cf0 !important;
    /* Violet mock */
    color: white !important;
}

.server-error {
    color: #d32f2f;
    margin-bottom: 10px;
}