.logo {
    width: 300px;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
    .logo {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    app-navbar {
        display: none;
    }

}

@media screen and (max-width: 350px) {
    .logo {
        width: 200px;
        margin-bottom: 20px;
    }

}