html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container {
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.back-btn {
    position: absolute;
    top: 70px;
    align-self: flex-start;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 250px;
}

.submit-btn {
    width: 150px;
    margin: 0 auto;
    background-color: #7b5cf0 !important;
    color: white !important;
}

.server-error {
    color: #d32f2f;
    margin-bottom: 10px;
}


.card-list {
    padding-top: 20px;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    height: 180px;
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    gap: 10px;
    cursor: pointer;


    .card-header {
        display: flex;
        flex-direction: column;
        gap: 6px;
        min-width: 0;

        .title {
            min-width: 0;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            line-height: 1.2;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .meta {
            display: grid;
            grid-template-columns: auto auto;
            font-size: 12px;
        }
    }

    .card-body {
        flex: 1;
        display: flex;

        .content {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            line-height: 1.4;
        }
    }

    .card-footer {
        text-align: center;

    }
}

.separator {
    width: 100%;
    max-width: 900px;
    margin: 40px 0;

    border: none;
    border-top: 2px solid #000;
}


@media screen and (min-width: 425px) {
    .back-btn {
        left: 20px;
    }
}

@media screen and (max-width: 425px) {
    .back-btn {
        left: 10px;
    }

    .card-list {
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    }

    .card {
        height: 132px;

        .card-body {
            .content {
                -webkit-line-clamp: 3;
            }
        }
    }
}


@media screen and (max-width: 350px) {
    .back-btn {
        left: 5px;
    }

    .card-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}