.navbar {
    max-width: 100%;
    height: 70px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    border-bottom: 1px solid #ccc;
}

.left-section {
    cursor: pointer;

    .logo {
        height: 45px;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 25px;

    .logout {
        color: #b30000;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-link {
        font-size: 18px;
        cursor: pointer;
        color: #6a4df5;

        &:hover {
            text-decoration: underline;
        }
    }
}

.right-section {
    display: flex;

    gap: 30px;




}

.user-icon {
    background: #ddd;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .material-icons {
        font-size: 28px;
        color: #555;
    }
}

.burger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
    z-index: 1000;
}


.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;

    background: white;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 1001;

    .logout {
        color: #b30000;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-link {
        font-size: 18px;
        cursor: pointer;
        color: #6a4df5;

        &:hover {
            text-decoration: underline;
        }
    }

    .user-icon {
        position: absolute;
        right: 20px;
        bottom: 60px;
    }
}

.mobile-menu.active {
    transform: translateX(0);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 600px) {
    .right-section {
        display: none;
    }

    .burger-btn {
        display: block;
    }

    .navbar {
        position: relative;
    }
}

@media screen and (max-width: 400px) {

    .mobile-menu {
        width: 180px;
    }
}