.navbar {
    max-width: 100%;
    height: 70px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    border-bottom: 1px solid #ccc;
}

.left-section {
    cursor: pointer;

    .logo {
        height: 45px;
    }
}

.center-section {
    display: flex;
    align-items: center;
    gap: 25px;

    .logout {
        color: #b30000;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-link {
        font-size: 18px;
        cursor: pointer;
        color: #6a4df5;

        &:hover {
            text-decoration: underline;
        }
    }
}

.right-section {
    .user-icon {
        background: #ddd;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .material-icons {
            font-size: 28px;
            color: #555;
        }
    }
}