<nav class="navbar">
    <!-- Logo -->
    <div class="left-section" (click)="navigateToFeed()">
        <img src="assets/logo_p6.png" alt="MDD Logo" class="logo" />
    </div>

    <!-- Center links -->
    <div class="center-section" *ngIf="isLogged">
        <span class="logout" (click)="logout()">Se déconnecter</span>
        <span class="nav-link" (click)="navigateToFeed()">Articles</span>
        <span class="nav-link" (click)="navigateToThemes()">Thèmes</span>
    </div>

    <!-- User icon -->
    <div class="right-section" *ngIf="isLogged">
        <div class="user-icon" (click)="navigateToProfile()">
            <span class="material-icons">person</span>
        </div>
    </div>
</nav>